<div id="js-a">
  <p id="js-b">scoped-js-a</p>
  <slot-component></slot-component>
  <form class="form">
    <label class="my-class" for="fname">First name:</label>
    <input class="input" type="text" id="fname" name="fname" /><br /><br />
    <label class="my-class" for="lname">Last name:</label>
    <input class="input" type="text" id="lname" name="lname" /><br /><br />
    <input type="submit" value="Submit" />
  </form>
</div>

<script>
  document.getElementById("js-a").style.color = "#d3ff8d";
  document.getElementById("js-b").style.color = "#8d9cff";
  document.getElementById("js-b").textContent = `${
    document.getElementById("js-b").textContent
  } appended`;
  document.querySelector("[id='js-b']").style.fontSize = "32px";
</script>

<script>
  console.log(document.querySelectorAll(".my-class"));
</script>
