.navigation ul {
  list-style-type: none;
  margin: unset;
  padding: unset;
}

.navigation ul li {
  display: inline-block;
}

.navigation ul li:first-child {
  font-family: monospace;
  font-size: larger;
}

.navigation ul li a {
  padding: 8px;
}

.header {
  padding-top: 16px;
}

.home.logo {
  background-color: #fff;
  color: #18191b;
  padding: 4px;
  user-select: none;
  animation: rotateLogo 2s infinite alternate;
}

@media only screen and (max-width: 600px) {
  .home.logo {
    background-color: #d3ff8d;
  }
}

@keyframes rotateLogo {
  from {
    transform: perspective(500px) rotateY(-40deg);
  }
  to {
    transform: perspective(500px) rotateY(40deg);
  }
}
